h1 {
    display: flex;
    font-weight: bold;
    color: white;
    padding: 12px;
    justify-content: center;
    align-items: center;
}
form{
    justify-content: center;
    display: flex;
    align-items: center;
    background: lightcoral;
}

.wrapper {
    width:100%;;
    display:-webkit-flex;
    display:flex;
    -webkit-justify-content:center;
    justify-content:center;
}

.container {
    width:960px;
    display:-webkit-flex;
    display:flex;
    -webkit-justify-content:center;
    justify-content:center;
}

.textentry {
    width:300px;
    height:50px;
    padding:15px;
    border:none;
    background-color:rgba(255,255,255,0.5);
    color:white;
}
.nameLabel {
    font-weight:bold;
}

.suggestions {
    list-style-type: none;
    padding-inline-start:0px;
}

.suggestions li {
    width: 100%;
    background-color:white;
    margin-bottom:15px;
    padding:10px;
}

.navContainer li{
    border-bottom: 1px solid lightgray;
    margin: 0px;
    padding: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    width:100%;
    
}
li {
    display: list-item;

}

body {
    background-color: #559CAD;
}